services:
    mariadb:
        build: ./requirements/mariadb
        image: mariadb
        container_name: mariadb
        volumes:
            - db:/var/lib/mysql
        expose:
            - "3306"
        env_file:
            - ./.env
        networks:
            - docker-network
        restart: always
    wordpress:
    nginx:

volumes:
    db:
       driver_opts:
          type: 'none'
          o: bind
          device: /home/jetan/database

networks:
    docker-network:
       driver: bridge
