services:
    mariadb:
        build: ./requirements/mariadb
        image: mariadb
        container_name: mariadb
        volumes:
            - db:/var/lib/mysql
        expose:
            - "3306"
        env_file:
            - ./.env
        networks:
            - docker-network
        restart: always

    wordpress:
        build: ./requirements/wordpress
        image: wordpress
        container_name: wordpress
        volumes:
            - wp:/var/www/html
        depends_on:
            - mariadb
        expose:
            - "9000"
        env_file:
            - ./.env
        networks:
            - docker-network
        restart: always
volumes:
    db:
        driver_opts:
            type: 'none'
            o: bind
            device: /home/jetan/data/database
    wp:
        driver_opts:
            type: 'none'
            o: bind
            device: /home/jetan/data/wordpress

networks:
    docker-network:
       driver: bridge
